.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    padding: 1rem 1rem 0 1rem;
}
.header {
    display: flex;
    flex-direction: column;
}

.addPlaylistContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 1rem;
}

.addPlaylistButton {
    padding: 0.5rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
}