.background {
    background-color: var(--background-color-secondary);
    padding: 1rem 1rem 0 1rem;
}

.containerColumn {
    display: flex;
    flex-direction: column;
}

.logoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1.5rem;
}

.logotext{
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.SectionText{
    color:var(--section-text-color);
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

.iconColor{
    font-size:1.2rem;
    color: var(--primary-color);
}

.link {
    gap: 0.8rem;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    border-left: 0.35rem solid transparent;
}


.discoverContainer{
    margin-top: 1rem;
}

.youContainer{
    margin-top: 1rem;
}

.active{
    background-color: var(--third-color);
    border-radius: 0.5rem;
    border-left: 0.35rem solid var(--primary-color);
}