.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    padding: 1rem 1rem 0 1rem;
}

.header {
    display: flex;
    flex-direction: column;
}

.addSourceContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 1rem;
}

.addSourceButton {
    padding: 0.5rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
}

.sourcesList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
    scrollbar-width: none;
}

.button{
    font-size:var(--play-stop-size);
    color: var(--primary-color);
    display: flex;
}